@import "../../vars.css";

.container {
  position: relative;
  width: 100vw;
  min-height:100vh;
  display: grid;
  padding-right: 30vw;
  
}

.title {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1.50px;
  text-transform: uppercase;
}

.projects {
  
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90vw;
  border: 1px  solid black;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px;
  
  
}

@media screen and (max-width: 700px){

  
.projects {
  
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 10px;
  overflow: scroll;
  
}
}