.header {
  background: linear-gradient(135deg, #f5cac3, #f4e7e5);
  color: #222a68;
  padding: 20px;
  text-align: center;
  display: block;
  font-family: monospace;
  font-size: 125%;
  width: 100%;
}
