@import "../../vars.css";

.container {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background: linear-gradient(#aec3b0 0%, #bfd0bc 100%);
  padding: 2%;
}
.title {
  display: block;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 2%;
}

.contentGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 4px;
}

/* Media Query for Tablets */
@media screen and (max-width: 768px) {
  .contentGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2px;
  }
}
