.card {
  height: 16rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: (3, 1fr);
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.image {
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  width: 3rem;
}

.cardtitle {
  font-family: var(--ff-text);
  font-weight: 300;
  font-size: 1.5rem;
  color: #124559;
}

.cardcontent {
  text-align: justify;
}

@media screen and (max-width: 768px) {
}
