@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw; /* Adjusted width to occupy 90% of the viewport width */
    padding-right: 5vw;
    max-height: max-content;
    color: var(--color-text);
    z-index: -1;
    

}
.title {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1.50px;
    text-transform: uppercase;
  }
  
.contentGrid {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping items to ensure they remain in a row */
    justify-content: flex-start; /* Align items to the left */
    overflow-x: scroll ; /* Allow horizontal scrolling for smaller screens */
    scrollbar-color: transparent transparent; /* Firefox */
    width: 80vw; /* Occupy full width of the container */
    margin-bottom: 20px; /* Added margin for better spacing */
}

/* Media Query for Tablets */
@media screen and (max-width: 768px) {
    
   
}

