@import "../../vars.css";

.container {
  height: 100vh;
  /* display: grid;
  grid-template-rows: 1fr 1fr 1fr; */
  background: linear-gradient(#84a3a1 0%, #aec3b0 100%);
}

.title {
  display: block;
  font-size: 32px;
  color: #eff6e0;
  text-align: center;
  padding-top: 4%;
}

.content {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  color: var(--color-text);
  color: #eff6e0;
  padding: 10%;
}

.image_container {
  position: relative;
  width: 350px;
  height: 350px;
  top: calc(350px -100%);
  border-radius: 20% 20% 0;
  align-items: center;
  background: url("../../../assets/about/priyankazala.jpg") no-repeat center /
    cover;
}

.text_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.paragraph {
  text-align: justify;
  font-weight: 300;
  font-size: 1.3rem;
  width: 90%;
  line-height: 1.6rem;
  padding: 0.5rem 0 2rem 0;
}

.resume {
  position: relative;
  display: inline-block;
  text-decoration: none;
  background-color: #0a2e3c;
  font-size: 1.5rem;
  color: #eff6e0;
  padding: 10px;
  border-radius: 12px;
  background-image: linear-gradient(#598392, #9ad5ea);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  transition: background-size 0.7s ease-in-out;
}

.resume:hover {
  background-size: 100% 100%;
  background-position: 0% 0%;
  transition: background-size 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: column;
  }
  .paragraph {
    font-size: 0.9rem;
  }
  .resume {
    font-size: 1.5rem;
  }

  .image_container {
    position: relative;
    align-self: center;
    width: 220px;
    height: 160px;
  }
}
