@import "../../vars.css";



h2{
  font-size: 24px;
  text-align: center;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh; 
  background-color: var(--color-bg1);
  
}

.title {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1.50px;
  text-transform: uppercase;
  color:var(--color-text);

}

.content {
  display: grid;
  grid-template-columns: auto 1fr ; 
  padding-right: 20vw;
  padding-left: 5vw;
  color:var(--color-text);
  
}


.image_container{
  position: relative;
  width: 350px;
  height: 350px;
  top: calc(100% - 350px);
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
  border: 2px  double goldenrod;
  padding: 0;
  opacity: 1;
  background: url("../../../assets/about/priyankazala.jpg") no-repeat center / cover;
  transition: opacity  0.8s ease-in-out;
}
.socialLinks {

  display: flex;
  width: 100%;
  height: 20%;
  border-radius:50% ;
  border: 1px  solid goldenrod;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 26px;
  opacity: 0;
  background-color: rgb(40, 13, 13,  .7);
  
}

.image_container:hover .socialLinks{
  
  transform: translateY(400%);
  background-color: rgba(0, 0, 0, .7);
  transition: all .7s ease-in;
  opacity: 1;

  
  
}
.image_container:hover.image_container{
    opacity:  0.9;
    
  }

.text_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.paragraph{
  text-align: justify;
  font-size: 18px;
  padding: 5px;
  margin: 3px;
  
}

.resume {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color:  var(--color-text);
  font-size: 36px;
  background-image: linear-gradient(gold, gold);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  transition: background-size   .7s ease-in-out;
}


.resume:hover {
  background-size: 100% 100%;
  background-position: 0% 0%;
  transition: background-size   .5s ease-in-out;
}



@media screen and (max-width:768px){

  .container{
  flex-direction: column;
  }
  
.content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color:var(--color-text);
}


.image_container{
  position: relative;
  width: 70vw;
  height: 40vh;
  top: calc(100% - 500px);
  align-items: center;
  overflow: hidden;
  border-radius: 40%;
  border: 2px  solid goldenrod;
  padding: 0;
  opacity: 0.9;
  background: url("../../../assets/about/priyankazala.jpg") no-repeat center / cover;
  transition: opacity  0.8s ease-in-out;
}

.paragraph{
  text-align: justify;
  font-size: 12px;
  padding: 5px;
  margin: 3px;
  
}

.resume {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color:  var(--color-text);
  font-size: 18px;
  background-image: linear-gradient(var(--color-highlight),var(--color-highlight));
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  transition: background-size   .7s ease-in-out;
}


.resume:hover {
  background-size: 100% 100%;
  background-position: 0% 0%;
  transition: background-size   .5s ease-in-out;
}
}
