@import "../../vars.css";

.navbar {
  padding-top: 10%;
  height: 100vh;
  position: fixed;
  display: grid;
  align-content: flex-start;
}

.menu {
  display: flex; /* Corrected display property value */
  flex-direction: column; /* Changed from "column" to "flex-direction: column" */
}

.menuItems {
  align-items: flex-end; /* Corrected property value */
  font-size: 20px;
  gap: 47px;
  list-style: none;
}

.menuItems a {
  color: var(--color-text);
  text-decoration: none;
}

/* Fixed typo in class name */
.menuItems::after {
  content: attr(data-text); /* Corrected pseudo-element usage */
  font-size: 32px;
}
