.card {
  width: 50rem;
  height: auto;
  margin: 0.5rem;

  border: 1px solid black;
  color: #01161e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em 3rem;
  padding-bottom: 3.5rem;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.imagediv {
  width: 10rem;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.imagediv img {
  width: 8rem;
  height: auto;
}

.text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.company {
  display: flex;
  flex-direction: column;
}

.cardtitle {
  font-family: var(--ff-main);
  font-size: 2rem;
}

.position {
  font-family: var(--ff-heading);
  font-weight: 400;
  color: var(--color-red-dark);
}

.date {
  font-family: var(--ff-heading);
  color: var(--color-black-light);
  font-size: 1rem;
  position: relative;
}

.expList {
  margin-top: 1rem;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: var(--c-b2);
  opacity: 70%;
}

.expList li {
  margin-left: 3rem;
  font-family: var(--ff-text);
  line-height: 1.2rem;
  padding-bottom: 0.3rem;
  color: var(--c-b2);
}

@media screen and (max-width: 700) {
  .card {
    width: 100vw;
    height: 100vh;
  }
}
