/* .card {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  width: 80vw;
  height: 50vh;
  margin: 0.5rem;
  padding: 2em 3rem;
  align-items: center;
  color: #01161e;
  padding-bottom: 3.5rem;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.imagediv {
  width: 14rem;
  height: 10rem;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  padding: 1rem;
}

.imagediv img {
  width: 8rem;
  height: auto;
}

.text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.company {
  display: flex;
  flex-direction: column;
}

.cardtitle {
  font-family: var(--ff-main);
  font-size: 2rem;
}

.position {
  font-family: var(--ff-heading);
  font-weight: 400;
  color: var(--color-red-dark);
}

.date {
  font-family: var(--ff-heading);
  color: var(--color-black-light);
  font-size: 1rem;
  position: relative;
}

.expList {
  margin-top: 1rem;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: var(--c-b2);
  opacity: 70%;
}

.expList li {
  margin-left: 3rem;
  font-family: var(--ff-text);
  line-height: 1.2rem;
  padding-bottom: 0.3rem;
  color: var(--c-b2);
}

@media (max-width: 768) {
  .card {
    width: 100%;
    padding: 1rem;
    flex-direction: column-reverse;
  }
  .imagediv {
    width: 12rem;
    height: 9rem;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    padding: 0.5rem;
  }
  .imagediv img {
    width: 4rem;
    height: auto;
  }
  .cardtitle {
    font-family: var(--ff-main);
    font-size: 0.2rem;
  }
} */
