*{
  padding: 24px;
}
.container{
  display: grid;
  width: 100vw;
  min-height:100vh;
  padding-left: 5vw;
  background-color: var(--color-bg2);
  z-index: -1;


}


.title {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1.50px;
  text-transform: uppercase;

}
.timeline{
  padding-right: 10vw;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
   
}

@media screen  and (max-width: 768px) {

  
}