:root {
  /* Colours */
  --color-text: #004643;
  --color-highlight:#d1ac00;
  --color-dark: #0c1618;
  --color-bg1:#eefcf9;
  --color-bg4:#e8f7f7;
  --color-bg3:#fcf9ed;
  --color-bg2:#ffd8d6;
}
